#mycanvas{
    border:1px solid #000000;
    position: relative;
    left:50px;
    top:50px;
    width:800px;
    height:500px;
    background-color: white;
    cursor: url(./pen.png) 0 15,auto;
}
/*color*/
#colorlabel
{
    border: 1px solid black;
    top: 50px;
    right:150px;
    width:25px;
    height:25px;
    background-color: rgba(255,0,0,1);
    position: absolute;
}
#grayback
{
    border: 4px solid olivedrab;
    position: absolute;
    top: 25px;
    right:200px;
    width:200px;
    height:150px;
    background-color: gray;   
}
#lightpicker
{
    position:absolute;
    top: 25px;
    left: 25px;
    width:100px;
    height:100px;
    background-color: white;

}
#colorpicker
{
    position:absolute;
    top: 25px;
    left: 150px;
    width:25px;
    height:100px;
    background-color: white;
}
#current_color{
    position:relative;
    width:5px;
    height:5px;
    left:123px;
    top:23px;
    border: 1px solid white;
}

/*button*/
#undo{
    top: 300px;
    right:350px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: pointer;
    z-index: 1;
}
#redo{
    top: 300px;
    right:300px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: pointer;
    z-index: 1;
}
#reset{
    top: 300px;
    right:250px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: pointer;
    z-index: 1;
}
#pen{
    top: 200px;
    right:350px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: dodgerblue;
    cursor: pointer;
    z-index: 1;
}
#erase{
    top: 200px;
    right:300px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: pointer;
    z-index: 1;
}
#text{
    top: 200px;
    right:250px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: pointer;
    z-index: 1;
}
#upload{
    top: 400px;
    right:350px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: text;
    z-index: 1;
}
#download{
    top: 400px;
    right:300px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: pointer;
    z-index: 1;
}
#mode{
    top: 400px;
    right:250px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: pointer;
    z-index: 1;
}
#circle{
    top: 500px;
    right:350px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: pointer;
    z-index: 1;
}
#triangle{
    top: 500px;
    right:300px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: pointer;
    z-index: 1;
}
#rectangle{
    top: 500px;
    right:250px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: pointer;
    z-index: 1;
}
#sample{
    top: 200px;
    right:200px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: pointer;
    z-index: 1;
}
#color_pen{
    top: 500px;
    right:200px;
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    cursor: pointer;
    z-index: 1;
}
#upload_file{
    font-size: 0;
    opacity: 0;
    bottom: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}
#download_file{
    bottom: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 1;
}
img{
    left:5px;
    top:5px;
    position: relative;
}
div#undo:hover{
    background-color: yellow;
}
div#redo:hover{
    background-color: yellow;
}
div#reset:hover{
    background-color: yellow;
}
div#pen:hover{
    background-color: yellow;
}
div#erase:hover{
    background-color: yellow;
}
div#text:hover{
    background-color: yellow;
}
div#upload:hover{
    background-color: red;
}
div#download:hover{
    background-color: green;
}
div#mode:hover{
    background-color: yellow;
}
div#circle:hover{
    background-color: yellow;
}
div#triangle:hover{
    background-color: yellow;
}
div#rectangle:hover{
    background-color: yellow;
}
div#sample:hover{
    background-color: yellow;
}


/*slider*/
#fontslide{
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    width:100px;
    height:12px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    right:50px;
    top:200px;
    overflow: hidden;
}
#fontslide:hover{
    opacity: 1;
}
/*FIREFOX*/
#fontslide::-moz-range-thumb{
    cursor: pointer;
    background:darkred;
    height: 12px;
    width: 10px;
}
#fontslide::-moz-range-track{
    background: darkgoldenrod;
    height: 6px;
}
#fontslide::-moz-range-progress{
    background: darkred;
    height: 6px;
}
/*other search*/
#fontslide::-webkit-slider-runnable-track
{
    background: darkgoldenrod;
    height: 5px;
}
#fontslide::-webkit-slider-thumb{
    margin-top: -3px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background:darkred;
    pointer-events: none;
    height: 12px;
    width: 10px;
    border:2px solid darkblue;
    border-radius: 50%;
    box-shadow: /*to show continuous slide shadow*/
    -100px 0px 0px -2px darkred,-98px 0px 0px -2px darkred,
    -96px 0px 0px -2px darkred,-94px 0px 0px -2px darkred,
    -92px 0px 0px -2px darkred,-90px 0px 0px -2px darkred,
    -88px 0px 0px -2px darkred,-86px 0px 0px -2px darkred,
    -84px 0px 0px -2px darkred,-82px 0px 0px -2px darkred,
    -80px 0px 0px -2px darkred,-78px 0px 0px -2px darkred,
    -76px 0px 0px -2px darkred,-74px 0px 0px -2px darkred,
    -72px 0px 0px -2px darkred,-70px 0px 0px -2px darkred,
    -68px 0px 0px -2px darkred,-66px 0px 0px -2px darkred,
    -64px 0px 0px -2px darkred,-62px 0px 0px -2px darkred,
    -60px 0px 0px -2px darkred,-58px 0px 0px -2px darkred,
    -56px 0px 0px -2px darkred,-54px 0px 0px -2px darkred,
    -52px 0px 0px -2px darkred,-50px 0px 0px -2px darkred,
    -48px 0px 0px -2px darkred,-46px 0px 0px -2px darkred,
    -44px 0px 0px -2px darkred,-42px 0px 0px -2px darkred,
    -40px 0px 0px -2px darkred,-38px 0px 0px -2px darkred,
    -36px 0px 0px -2px darkred,-34px 0px 0px -2px darkred,
    -32px 0px 0px -2px darkred,-30px 0px 0px -2px darkred,
    -28px 0px 0px -2px darkred,-26px 0px 0px -2px darkred,
    -24px 0px 0px -2px darkred,-22px 0px 0px -2px darkred,
    -20px 0px 0px -2px darkred,-18px 0px 0px -2px darkred,
    -16px 0px 0px -2px darkred,-14px 0px 0px -2px darkred,
    -12px 0px 0px -2px darkred,-10px 0px 0px -2px darkred,
    -8px 0px 0px -2px darkred,-6px 0px 0px -2px darkred,
    -4px 0px 0px -2px darkred,-2px 0px 0px -2px darkred;
}




#draw_size_display{
    position: absolute;
    left:1125px;
    top:230px;
    font-family: Arial;
}
#text_size_display{
    position: absolute;
    left:1125px;
    top:300px;
    font-family: Arial;
}

#rgb_display{
    font-family: Arial;
    position: absolute;
    left:1125px;
    top:100px;
}
#red
{
    color:red;
}
#green{
    color:green;
}
#blue{
    color:blue;
}


#font_display
{
    position: absolute;
    left:1125px;
    top:320px;
    font-family: Arial;
}
#font
{
    padding: 0px 15px 0px 0px;
    background-color: black;
    color:white;
    border:thin solid yellow;
    border-radius: 4px;
    background-image:  linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, yellow, yellow);
    background-position: 
    calc(100% - 9px) calc(3px),
    calc(100% - 6px) calc(3px),
    100% 0;
    background-size:
    3px 5px,
    3px 5px,
    15px 15px;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#text_size
{
    padding: 0px 15px 0px 0px;
    background-color: black;
    color:white;
    border:thin solid yellow;
    border-radius: 4px;
    background-image:  linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, yellow, yellow);
    background-position: 
    calc(100% - 9px) calc(3px),
    calc(100% - 6px) calc(3px),
    100% 0;
    background-size:
    3px 5px,
    3px 5px,
    15px 15px;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
  
  
#noncanvas{
    background-repeat: repeat-y;
    background-image: linear-gradient(to right,crimson,pink),linear-gradient(to right,pink,blueviolet),
    linear-gradient(to right,blueviolet,aqua),linear-gradient(to right,aqua,white);
    background-size: 25% 100%,25% 100%,26% 100%,25% 100%;
    background-position: 0% 100%,33% 100%,66.5% 100%, 100% 100%;
}

